title Stefanie Doll - Frontend Engineer
meta(charset="utf-8")
meta(name="description", content="Stefanie Doll - Frontend Engineer based in Berlin")
link(href="https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik:900",rel="stylesheet")
meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")

block styles
	link(href="./css/app.css", rel="stylesheet")

block scripts
