colorChangerFrames(property)
	0%
		{property} $colorSecondaryLight
	33%
		{property} $colorHighlight
	66%
		{property} $colorPrimaryLight
	100%
		{property} $colorSecondaryLight


@keyframes colorChanger
	colorChangerFrames('background-color')

@keyframes colorChangerPseudo
	colorChangerFrames('border-color')
