/** Colors **/
// Color palette by http://www.colourlovers.com/palette/4111219/SHAKRA

$colorPrimary = #F9FBF0
$colorSecondary = #4F686F
$colorPrimaryShade = #DEDCC5
$colorSecondaryShade = #B8C9B9
$colorHighlight = #B84238

$colorBlack = #141414
$colorWhite = lighten($colorPrimary, 20%);

/** Font-Styles **/
$fontColor = $colorBlack
