h1
	text-align center
	color $fontColor
	font-family $fontFamilyHighlight
	font-size 40px
	line-height 48px
	margin $layoutSpaceHalf 0 $layoutSpace
	@media screen and (min-width: 600px)
		font-size 60px
		line-height 72px

h2
	text-align center
	font-size 26px
	line-height 30px
	margin 20px 0
	text-transform uppercase
	@media screen and (min-width: 600px)
		font-size 40px
		line-height 58px

h1 + h2
	margin-top 0
