icomoon-font-path ?= "fonts"

icon-eye = "\e000"
icon-paper-clip = "\e001"
icon-mail = "\e002"
icon-image = "\e010"
icon-camera = "\e017"
icon-video = "\e018"
icon-printer = "\e020"
icon-search = "\e036"
icon-circle-plus = "\e040"
icon-circle-minus = "\e041"
icon-circle-check = "\e042"
icon-circle-cross = "\e043"
icon-microphone = "\e048"
icon-rewind = "\e051"
icon-fast-forward = "\e055"
icon-head = "\e074"
icon-arrow-left = "\e094"
icon-arrow-right = "\e095"
icon-plus = "\e114"
icon-minus = "\e115"
icon-check = "\e116"
icon-cross = "\e117"
icon-menu = "\e120"
icon-inbox = "\e122"
