extends /patterns/00-layout/layout.pug

block mainContent
	header(class="page-headline")
		h1 Stefanie Doll
		h2 Frontend Engineer
	section(class="page-content")
		p This Website is currently under construction.

		ul(class="construction")
			li
				span(class="icon icon-stickman-2")
				span(class="brick") References
			li
				span(class="brick brick-highlight") More colors
				span(class="icon icon-stickman-2")
				span(class="icon icon-stickman-4")
			li
				span(class="brick") An actual design
				span(class="icon icon-stickman-1")

		p In the meantime you can get in touch with me on:
		ul(class="contact")
			li
				a(href="https://www.xing.com/profile/Stefanie_Doll" title="Visit me on Xing" target="blank")
					span(class="icon-xing")
					span Xing
			li
				a(href="https://de.linkedin.com/in/stefanie-doll-50216035" title="Visit me on LinkedIn" target="blank")
					span(class="icon-linkedin")
					span LinkedIn
			li
				a(href="https://twitter.com/akaStefie" title="My twitter account" target="blank")
					span(class="icon-twitter")
					span Twitter
			li
				a(href="https://github.com/Stefie" title="Find me on GitHub" target="blank")
					span(class="icon-github")
					span GitHub
		p Or send me an email to: hello[at]stefaniedoll.de
