doctype html
html(lang="en")
	head
		title #{title}
		block styles
			style(src="/css/app.css", type="text/css")

		block scripts

		body
			block content
				
			include includes/footer.pug

			block footerScripts
			script(src='./js/app.js')
