.brick
	background-color $colorBlack
	padding $layoutSpaceHalf $layoutSpace
	width auto
	height 25px
	line-height 25px
	color $colorWhite
	text-transform uppercase
	white-space: nowrap;
	font-size 14px
	position relative
	@media screen and (min-width: 768px)
		font-size 18px
	&:before
	&:after
		width ($brickBorderWidth + 1px)
		height $brickHeight
		content ''
		display inline-block
		position absolute
	&:before
		border-top $brickHeight solid $colorBlack
		border-bottom $brickHeight solid $colorBlack
		left ($brickBorderWidth * -1)
		top 0
	&:after
		background-color $colorBlack
		top $brickHeight
		right ($brickBorderWidth * -1)
	&.brick-highlight
		background-color $colorHighlight
		animation colorChanger 6s infinite
		&:before
			border-color $colorHighlight
			animation colorChangerPseudo 6s infinite
		&:after
			background-color $colorHighlight
			animation colorChanger 6s infinite
