ul(class="construction")
	li
		span(class="icon icon-stickman-2")
		span(class="brick") References
	li
		span(class="brick brick-highlight") More colors
		span(class="icon icon-stickman-2")
		span(class="icon icon-stickman-4")
	li
		span(class="brick") An actual design
		span(class="icon icon-stickman-1")
