/** Colors **/
// Color palette by http://www.colourlovers.com/palette/694737/Thought_Provoking

$colorPrimary = #D95B43
$colorSecondary = #542437
$colorPrimaryShade = #ECD078
$colorSecondaryShade = #C02942
$colorHighlight = #53777A

$colorBlack = #141414
$colorWhite = #F9FBF0
