// http://www.colourlovers.com/palette/727066/ShamWow!
$colorPrimary = #1D423B
$colorSecondary = #59001C
$colorPrimaryLight = #8BA26C
$colorSecondaryLight = #B30908
$colorHighlight = #EC8642

$colorBlack = #1B141B
$colorWhite = #ffffff
$colorDanger = #F24E4E
$colorWarning = #F2C94E
$colorSuccess = #178350

$fontColor = $colorPrimary
