// http://www.colourlovers.com/palette/4344492/foliage
$colorPrimary = #1B141B
$colorSecondary = #B8D982
$colorPrimaryLight = #878787
$colorSecondaryLight = #EBFFBE
$colorHighlight = #678782
$colorHighlightLight = #79A7A4

$colorBlack = $colorPrimary
$colorWhite = #ffffff
$colorDanger = #F24E4E
$colorWarning = #F2C94E
$colorSuccess = $colorSecondary

$fontColor = $colorPrimary
