p + p
	margin-top $layoutSpaceHalf

a
	color $colorPrimary
	&:focus
	&:active
	&:hover
		color $colorPrimaryShade

hr
	display block
	height 2px
	border 0
	border-top 1px solid $colorHighlight
	margin 1em 0
	padding 0
