icomoon-font-path ?= "../fonts"

icon-stickman-4 = "\e906"
icon-stickman-3 = "\e905"
icon-stickman-1 = "\e903"
icon-stickman-2 = "\e904"
icon-github = "\e900"
icon-twitter-with-circle = "\e901"
icon-twitter = "\e902"
icon-linkedin = "\eac9"
icon-linkedin2 = "\eaca"
icon-xing = "\ead3"
icon-xing2 = "\ead4"
icon-mark-github = "\f00a"
