doctype html
html(lang="en")
	head
		include includes/htmlHeader.pug

		body
			main(class="page-wrapper")
				block mainContent
					header(id="headline")
						h1 Headline
					section(id="content")
						p content

			block footerScripts
